@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

.container {
	margin: 5px;
}

.text {
	margin: 10px;
}

form {
	margin-top: 55px;
	margin-bottom: 25px;
	align-self: center;
}

.form-container {
	display: flex;
	flex-direction: column;
}

.title {
	margin-bottom: 5px;
}

.item {
	align-self: center;
	width: 300px;
	border: 1px solid grey;
	box-shadow: 5px 5px 5px grey;
	background-color: #2e2e2e;
	color: #fff;
}

img {
	width: 300px;
}

input {
	height: 20px;
	width: 150px;
	margin-right: 5px;
	padding: 5px 15px;
	padding-bottom: 7px;
	border: 1px solid black;
	font-size: 14px;
	color: black;
}

button {
	display: inline-block;
	padding: 5px 15px;
	font-size: 18px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #555555;
	border: none;
	box-shadow: 0 4px rgb(26, 26, 26);
}

button:hover {
	background-color: #3e8e41;
}

button:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.alert-container {
	margin-top: 25px;
	text-align: center;
}

.alert {
	color: #fff;
	border: 1px solid grey;
	padding: 25px;
	background-color: tomato;
}
